@font-face {
   font-family: 'Luxurious Roman';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Luxurious Roman/regular.ttf') format('truetype');
}
