@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/wdev/gitdes/vhams/fonts/Roboto Serif/900italic.ttf') format('truetype');
}
